
  @import "tailwindcss";
  @custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html, body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;   
    scrollbar-width: none;    
  }

  body {
    @apply antialiased;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}
